<h1>Image Skew Corrector</h1>
<ul>
  <table style="width:100%">
  <tr>
    <th>Original Image</th>
    <th>Corrected Image</th>
    <th>Skew Correction</th>
  </tr>
    {% for img in object_list %}
  <tr>
    <td><a href="{{ img.cover.url }}">{{ img.cover.name }}</a></td><td>
      {% if img.processed_cover %}
        <a href="{{ img.processed_cover.url }}">{{ img.processed_cover.name }}</a>
      {% endif %}
    </td>
      <td>{{ img.rotate_angle.real }}</td>
  </tr>
     {% endfor %}
</table>
</ul>